/Labs/Lab1/HotelRoom/nbproject/private/
/Labs/Lab1/HotelRoom/build/
/Labs/Lab1/Vehicle/nbproject/private/
/Labs/Lab1/Vehicle/build/
/Labs/Lab1/Horse/nbproject/private/
/Assignments/Assignment1/AssignmentOne/nbproject/private/
/Assignments/Assignment1/AssignmentOne/build/
/Assignments/Assignment1/AssignmentOne/dist/
/Labs/Lab2/Lab2/nbproject/private/
/Labs/Lab2/Lab2/build/
/Labs/Lab1/Horse/build/
/Labs/New Folder/Book/nbproject/private/
/Labs/Lab3/Book/nbproject/private/
/Labs/Lab3/Book/build/
/Labs/Lab3/Book/dist/
/Assignments/Assignment2/Assignment02/nbproject/private/
/Assignments/Assignment2/JavaApplication31/nbproject/private/
/Assignments/Assignment2/JavaApplication31/build/
/Assignments/Assignment2/Assignment02/build/
/Assignments/Assignment2/Assignment2-1/nbproject/private/
/Assignments/Assignment2/Assignment2/nbproject/private/
/Assignments/Assignment2/Assignment2/build/
/Labs/Lab4/Lab4Part1/nbproject/private/
/Labs/Lab4/Lab4Part1/build/
/Labs/Lab4/Patient/nbproject/private/
/Assignments/Assignment3/nbproject/private/
/Assignments/Assignment3/build/
/Assignments/Genealogy/nbproject/private/
/Assignments/Genealogy/build/
/Assignments/Assignment3/Accounts/nbproject/private/
/Assignments/Assignment3/Assignment3/build/
/Assignments/Assignment3/Assignment3/nbproject/private/
/Assignments/Assignment3/Genealogy/build/
/Assignments/Assignment3/Genealogy/nbproject/private/
/Assignments/Assignment3/NumberCounter/nbproject/private/
/Assignments/Assignment3/Accounts/build/
/Assignments/Assignment3/NumberCounter/build/
/Labs/Lab5/Division/nbproject/private/
/Labs/Lab5/Division/build/
/Labs/Lab5/Rectangle/nbproject/private/
/Labs/Lab5/Rectangle/build/
/Labs/Lab5/Bird/nbproject/private/
/Labs/Lab5/Television/nbproject/private/
/Labs/Lab5/Television/build/
/Labs/Lab5/StudentView/nbproject/private/
/Labs/Lab5/Student/nbproject/private/
/Labs/Lab5/StudentView/build/
/Labs/Lab5/examTest/nbproject/private/
/Labs/Lab5/examTest/build/
/Labs/Lab8/MultiThreading/nbproject/private/
/Labs/Lab8/MultiThreading/build/
/Labs/Lab8/MultiThreadingList/nbproject/private/
/Labs/Lab8/MultiThreadingList/build/
/Labs/Lab8/MultiThreadingIterator/nbproject/private/
/Labs/Lab8/MultiThreadingIterator/build/
/Labs/Lab8/MultiThreadingThousandThreads/nbproject/private/
/Labs/Lab8/MultiThreadingThousandThreads/build/
/Labs/Lab8/Q1/nbproject/private/
/Labs/Lab8/Q1/build/
/Assignments/FinalProject/nbproject/private/
/Assignments/FinalProject/build/
/Assignments/FinalProject/FinalProject2/nbproject/private/
/Assignments/FInalProject2/nbproject/private/
/Assignments/FInalProject2/build/
/Exams/Exam3/nbproject/private/
/Exams/Exam3/build/
/Exams/MultiThreading/nbproject/private/
/Exams/MultiThreading/build/
/Exams/MultiThreading2/nbproject/private/
/Exams/MultiThreading2/build/
/Exams/MultiThreadingBonusQ/nbproject/private/
/Exams/MultiThreadingBonusQ/build/
/Exams/Question2/build/
/Exams/Question2/nbproject/private/
/Exams/Question3/build/
/Exams/Question3/nbproject/private/
/Exams/BonusQuestion/build/
/Exams/BonusQuestion/nbproject/private/