/Labs/Lab1/HotelRoom/nbproject/private/
/Labs/Lab1/HotelRoom/build/
/Labs/Lab1/Vehicle/nbproject/private/
/Labs/Lab1/Vehicle/build/
/Labs/Lab1/Horse/nbproject/private/
/Assignments/Assignment1/AssignmentOne/nbproject/private/
/Assignments/Assignment1/AssignmentOne/build/
/Assignments/Assignment1/AssignmentOne/dist/
/Labs/Lab2/Lab2/nbproject/private/
/Labs/Lab2/Lab2/build/
/Labs/Lab1/Horse/build/
/Labs/New Folder/Book/nbproject/private/
/Labs/Lab3/Book/nbproject/private/
/Labs/Lab3/Book/build/
/Labs/Lab3/Book/dist/